<div>
  <%= if @cart.cart_items == [] do %>
    <.header>
      My Cart
      <:subtitle>Your cart is empty</:subtitle>
    </.header>
  <% else %>
    <.header>
      Checkout
    </.header>

    <.live_component
      module={ECommerceWeb.CheckoutLive.FormComponent}
      id="checkout"
      title="Checkout page"
      cart={@cart}
      patch={~p"/checkout"}
    />
  <% end %>

  <.back navigate={~p"/cart"}>Trở về giỏ hàng</.back>
</div>
