<.link patch={~p"/admin/dashboard/catalog/products"}>
  Sản phẩm
</.link>

<.link patch={~p"/admin/dashboard/catalog/categories"}>
  Danh mục sản phẩm
</.link>

<.link patch={~p"/admin/dashboard/sales/orders"}>
  Đơn hàng
</.link>

<.link patch={~p"/admin/dashboard/customers"}>
  Khách hàng
</.link>

<.live_component
  id={get_page_id(@live_action)}
  module={get_page_component(@live_action)}
  item_id={@item_id}
/>
