<div>
  <%= if @cart.cart_items == [] do %>
    <.header>
      <:subtitle>Giỏ hàng trống</:subtitle>
    </.header>
  <% else %>
    <.header>
      Số sản phẩm <%= length(@cart.cart_items) %>
    </.header>

    <.live_component
      module={ECommerceWeb.Public.CartLive.FormComponent}
      id={@cart.id}
      title={@page_title}
      cart={@cart}
      changeset={@changeset}
      patch={~p"/cart"}
    />
  <% end %>

  <.back navigate={~p"/products"}>Back to products</.back>
</div>
